@use '../mixins/naming' as *;

$base-tokens: (
  0: 0,
  2: 2px,
  4: 4px,
  6: 6px,
  8: 8px,
  10: 10px,
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  28: 28px,
  32: 32px,
  36: 36px,
  40: 40px,
  44: 44px,
);

$spacings: (
  0: var(#{ui-token('base-tokens-0')}),
  2: var(#{ui-token('base-tokens-2')}),
  4: var(#{ui-token('base-tokens-4')}),
  8: var(#{ui-token('base-tokens-8')}),
  12: var(#{ui-token('base-tokens-12')}),
  16: var(#{ui-token('base-tokens-16')}),
  24: var(#{ui-token('base-tokens-24')}),
  28: var(#{ui-token('base-tokens-28')}),
  32: var(#{ui-token('base-tokens-32')}),
  40: var(#{ui-token('base-tokens-40')}),
  44: var(#{ui-token('base-tokens-44')}),
);

$corners: (
  4: var(#{ui-token('base-tokens-4')}),
  6: var(#{ui-token('base-tokens-6')}),
  16: var(#{ui-token('base-tokens-16')}),
);
