$palette: (
  dark: (
    50: #f1f2f3,
    100: #d9dadc,
    200: #b8b9be,
    300: #989ba1,
    400: #5e5e61,
    500: #3d3d3f,
    600: #363638,
    700: #2d2d31,
    800: #2a2a2f,
    900: #212224,
    1000: #17181a,
    1050: #0d0e0f,
  ),
  blue: (
    50: #f0f6fe,
    100: #dbeafd,
    200: #b5d2fb,
    300: #7eb0f6,
    400: #4e93f4,
    500: #2e80f2,
    600: #1e6fe2,
    700: #155dc3,
    800: #2e3f6d,
    900: #233152,
    1000: #1c2641,
    1050: #1c233b,
  ),
  orange: (
    50: #fff8f0,
    100: #fef2e1,
    200: #ffdbab,
    300: #ffc478,
    400: #ffa130,
    500: #f39509,
    600: #e58900,
    700: #ba7307,
    800: #965c06,
    900: #724204,
    1000: #463220,
    1050: #242221,
  ),
  green: (
    50: #f2f9f4,
    100: #dbf0e0,
    200: #b3e1bf,
    300: #82c89a,
    400: #6bb884,
    500: #53aa70,
    600: #45925e,
    700: #367748,
    800: #295b37,
    900: #1c3f26,
    1000: #142e1b,
    1050: #15251d,
  ),
  red: (
    50: #fef2f1,
    100: #fee1dd,
    200: #fbc2bc,
    300: #f79a92,
    400: #f47c71,
    500: #f1584d,
    600: #e53a2e,
    700: #b4362d,
    800: #832b25,
    900: #561e1a,
    1000: #361412,
    1050: #200b09,
  ),
  grey: (
    50: #fafafb,
    100: #f7f8fa,
    200: #f0f1f5,
    300: #e8e9ef,
    400: #d5d6dc,
    500: #c2c3c9,
    600: #afb0b7,
    700: #9c9da4,
    800: #888b91,
    900: #7a7e86,
    1000: #6b7078,
    1050: #585d64,
  ),
  neutral: (
    white: #ffffff,
    black: #262d3c,
  ),
);
